<!DOCTYPE html>
<head>
  <title>GeeksforGeeks Data</title>
</head>

<body>
  <h1 style='color: green'>GeeksforGeeks JSON Data</h>
  <ul>
    
      <li>Bitcoin data: <%= b.id %>, Name: <%= b.name %>, Language: <%= b.language %>
    
  </ul>
</body>

</html>
